.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  min-width: 400px;
  overflow: hidden;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  margin-left: 5px;
  color: white;
}
.remove {
  border: 1px solid #ddd;
  background: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.search {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  background: #ddd;
}
.remove {
  margin-right: 5px;
}

.ul {
  padding: 0;
  list-style: none;
}

.li {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  cursor: pointer;
}

.navbar {
  --bs-navbar-color: rgb(0 0 0 / 55%);
  background-color: red;
  color: red;
  --bs-navbar-bg: rgb(255, 0, 0);
  --bs-navbar-background-color: red ;
  --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
  --bs-navbar-disabled-color: rgb(255, 0, 0);
  --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  --bs-navbar-light-color: rgb(255, 0, 0);
  --bs-navbar-light-hover-color: rgba(255, 0, 0, 0.7);
}
