.category-row {
  margin-bottom: 30px;
}
.category-title {
  font-size: 20px;
  font-weight: 600;
}

.product-row {
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
}
.seeAll {
  display: flex; /* nesnenin içerisindeki tüm öğeleri birbirlerine göre düzenleme ve görünümlerini özelleştirme imkanı verir. */
  align-items: center;  /* Bu özellik, bir nesnenin içerisindeki öğeleri yatay olarak ortalar. */
  justify-content: flex-end;  /* Bu özellik, bir nesnenin içerisindeki öğeleri sağ tarafa yaslar. */
  cursor: pointer;
}
.card {
  margin-bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  cursor: pointer;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transform: scale(1.1);
  filter: greenscale(10) blur(1px);  /* "grayscale" filtresi, bir görseli gri tonlarına çevirir. Bu filtrenin değeri, 0 ile 100 arasında bir sayıdır ve bu sayı, görselin ne kadar gri tonlara çevrileceğini belirtir. Örnekteki "grayscale(10)" ifadesi, görselin %10'u kadar gri tonlara çevirileceğini belirtir. */
  z-index: 1; /* bir nesnenin öbür nesnelerin üstünde veya altında olmasını belirler. */
}

.card img {
  width: 100%;
  height: 280px;
}
.custom-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
